# TMDB Config
VITE_TMDB_API_KEY=
# News API Config
VITE_NEWS_API_KEY=

# EmailJS Config (Contact form)
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

# PayPal Config (Donate page)
VITE_PAYPAL_CLIENT_ID=